# Ignore compiled classes and build files

/target

*.class

*.log


# Ignore environment or secret files

.env

src/main/resources/application-secrets.properties


# IDE-specific files

.idea/

*.iml


# OS files

.DS_Store

Thumbs.db

temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
